
#content{
    border: 1px solid rgb(218, 212, 212);
    height: 100%;
    width: 100%;
}

#login_wrap{
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
    #id_pw_wrap{
        height: 50%;
        width: 80%;
        padding: 10px 10px;
    }
        .input_text{
            width: 100%;
        }
        #login_btn{
            width: 100%;
        }