<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  
<mapper namespace="MemberMapper">
	<resultMap type="com.kh.member.model.vo.Member" id="memberResultMap">
		<id 	property="memberId" 		column="MEMBER_ID"/>
		<result property="memberPwd" 		column="MEMBER_PWD"/>
		<result property="memberName" 		column="MEMBER_NAME"/>
		<result property="memberAge" 		column="MEMBER_AGE"/>
		<result property="memberEmail" 		column="MEMBER_EMAIL"/>
		<result property="memberPhone" 		column="MEMBER_PHONE"/>
		<result property="memberAddress" 	column="MEMBER_ADDRESS"/>
		<result property="memberGender" 	column="MEMBER_GENDER"/>
		<result property="memberHobby" 		column="MEMBER_HOBBY"/>
		<result property="enrollDate" 	 	column="ENROLL_DATE"/>
	
	</resultMap>
	<insert id="insertMember">
		INSERT INTO MEMBER_TBL VALUES(#{memberId},#{memberPwd},#{memberName},0,null,null,#{memberAddress},null,null,DEFAULT)
	</insert>
	<select id="selectAllMember" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
	</select>
	<select id="selectOneMember" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID=#{memberId}
	</select>
	
	<select id="selectMemberLogin" resultMap="memberResultMap">
		SELECT MEMBER_ID,MEMBER_NAME FROM MEMBER_TBL WHERE MEMBER_ID=#{memberId} AND MEMBER_PWD=#{memberPwd}
	</select>
	<delete id="deleteMember">
		DELETE FROM MEMBER_TBL WHERE MEMBER_ID=#{memberId}
	</delete>
	<update id="updateMember">
		UPDATE MEMBER_TBL SET MEMBER_PWD=#{memberPwd},MEMBER_ADDRESS=#{memberAddress} WHERE MEMBER_ID=#{memberId}
	</update>
	
</mapper>