<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MemberMapper">
	<insert id="insertMember">
		INSERT INTO MEMBER_TBL VALUES(#{memberId},#{memberPwd},#{memberName},0,null,null,#{memberAddress},null,null,DEFAULT)
<!-- 		INSERT INTO MEMBER_TBL VALUES(#{memberId},#{memberPwd},#{memberName},0,#{memberEmail},null,#{memberAddress},null,null,DEFAULT) -->
<!-- INSERT INTO MEMBER_TBL VALUES('khuser06','pass04','사용자',23,'khuser04@iei.or.kr','010-0101-0101','부산','M','취미',DEFAULT) -->
	</insert>
</mapper>