body{
    font-size: 12px;
    line-height: 16px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
}

#wrap{
    overflow: hidden;
    min-width: 800px;
}
div{
    display: block;
    /* border: 1px solid black; */
}
#header{
    display: block;
    width: 800px;
    position:relative;
    background-color: white;
}
    #logo-wrap{
        position: relative;
        margin-bottom: -10px;
        background-color: white;
        height: 100px;
    }
        #logo{
            position: relative;
            top: 35px;
            left: 70px;
            height: 40px;
            border-radius: 50%;

        }
        #search-box{
            position: absolute;
            width: 500px;
            height: 50px;
            top: 20%;
            left: 150px;
            border: 2px solid rgb(34, 224, 34);
            border-radius: 5px;
            background-color: white;


        }
            #search-input{
                margin-left: 10px;
                margin-top: 8px;
                padding: 10px 10px;
                width: 400px;
                border-style: none;
            
            }
            #search-btn{
             position: relative;
             background-color: rgb(67, 203, 182);
             border-style: none;
             width: 55px;
             top: 2px;
             padding: 4px;
             font-size: medium;
             font-weight: bold;
            }
    #navi-area{
        height: 50px;
        background-color: rgb(233, 233, 233);
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%);

    }
        .list{
            float: left;
            width: 22%;
            height:40px ;
            text-align: center;
            padding-top: 15px;
            list-style: none;
            font-size: large;
        }
        .list:hover{
            background-color: rgb(67, 203, 182);
            font-size: 1.8em;
            transform: rotatez(360deg);
        }
        a{
                text-decoration: none;
                color: black;
                
            }

#contents{
    display: inline-block;
    width: 800px;
    padding: 10px px;
    /* margin: 0 auto; */
    letter-spacing: -.2px;
    background-color: white;

}
    #left-area{
        float: left;
        width: 480px;
        margin: 0px;
        background-color: white;
      


    }
        #ad-area{
            height: 200px;
            margin: 3px;
            border: 2px solid rgb(170, 170, 170);
        }
            #ad-img{
                height: 90%;
                width: 90%;
                padding: 10px 10px 10px 24px;
        
            }
        #article-area{
            height: 300px;
            background-color: aliceblue;
            margin: 3px;
            border: 2px solid rgb(170, 170, 170);
        }
            .poster-wrap{
              float: left;
              margin-top: 30px;
              margin-left: 14px;
              width: 100px;
              /* height: 100%; */
            }
            .article-thumb{
                width: 100%;
                height: 170px;
            }
            .article-title{
                text-align: center;
                font-weight: bold;
            }
            .article-info{

            }
            .view{
                width: 15px;
                height: 15px;
            }
            .reply{
                width: 15px;
                height: 15px;
            }

    #right-area{
        float: right; 
        width: 300px;
        margin: 3px;
        background-color: white;
        border: 2px solid rgb(170, 170, 170);
    }
        #login-btn{
            position: relative;
            height: 150px;
            background-color: white;
            border: 2px solid rgb(170, 170, 170);
            margin: 3px;
        }
            #loginment{
                position: absolute;
                top: 7px;
                left: 70px;
                
            }
            #loginBtn{
                position: relative;
                left: 7px;
                top: 30px;
                width: 280px;
                height: 60px;
                font-size: larger;
                font-weight: bolder;
                background-color: rgb(67, 203, 182);
                border-style: none;
            }
            #sub-area{
                position: relative;
                top: 35px;
                padding: 20px;
            }
                #find{
                    float: left;

                }
                #enroll{
                    float: right;
                }
        #shop-area{
            height: 340px;
            background-color: bisque;
            margin: 3px;
            border: 2px solid rgb(170, 170, 170);
        }
            .shop-wrap{
                position: relative;
                top: 6px;
                left: 5px;
                width: 96%;
                height: 30%;
                margin-bottom: 10px;
            }
            .shop-img{
               width: 100%; 
               height: 100%;
            }
#footer{
    display: block;
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
    width: 800px;
}
    #footer-inner{
        background-color: darkolivegreen;
    }  
        #corp-area{
            overflow: hidden;
            height: 30px;
            padding: 24px;
            border-bottom: 1px solid #e4e8eb;
            background-color: rgb(233, 233, 233);
        }
            .footer-menu{
                position: relative;
                top: 8px;
                left: 120px;
                margin-left: 60px;
                font-size: medium;
                
            }