@charset "UTF-8";
#header{
	width:80%;
	text-align: center;
}
#contents{
	width:80%;
	height: 70%;
}
#boader_view{
	float:left;
	width:80%;
	box-sizing: border-box;

}
#login_wrap{
	float:left;
	width:20%;
	box-sizing: border-box;
}
#login_btn{
	width: 100%;
}